## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 100
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_type_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_type_counts_gt_1 = classification_type_counts[classification_type_counts > 1]
print(classification_type_counts_gt_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")
    
# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
print(application_df_encoded)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                       0
1           1    108590              1                       0
2           1      5000              0                       0
3           1      6692              1                       0
4           1    142590              1                       0
...       ...       ...            ...                     ...
34294       1      5000              0                       0
34295       1      5000              0                       0
34296       1      5000              0                       0
34297       1      5000              1                       0
34298       1  36500179              0                       0

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                         1                     0                    0
1                         0                     0                    1
2                         0                     0                    0
3                         0                     0                    1
4                         0                     0                    1
...                     ...                   ...                  ...
34294                     0                     0                    0
34295                     0                     0                    0
34296                     0                     0                    1
34297                     0                     0                    0
34298                     0                     0                    1

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        0                    1                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    1                    0                    0  ...
34295                    1                    0                    0  ...
34296                    0                    0                    0  ...
34297                    0                    1                    0  ...
34298                    0                    0                    0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 51 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL']
X = application_df_encoded.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model - Trying different activation type, more units on hidden layers, and epochs

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
input_features = X_train_scaled.shape[1]

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation='tanh', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 100)               5100

 dense_7 (Dense)             (None, 50)                5050

 dense_8 (Dense)             (None, 1)                 51

=================================================================
Total params: 10201 (39.85 KB)
Trainable params: 10201 (39.85 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 952us/step - loss: 0.5298 - accuracy: 0.7421
Epoch 2/100
804/804 [==============================] - 1s 944us/step - loss: 0.5299 - accuracy: 0.7428
Epoch 3/100
804/804 [==============================] - 1s 942us/step - loss: 0.5296 - accuracy: 0.7434
Epoch 4/100
804/804 [==============================] - 1s 948us/step - loss: 0.5292 - accuracy: 0.7434
Epoch 5/100
804/804 [==============================] - 1s 945us/step - loss: 0.5297 - accuracy: 0.7429
Epoch 6/100
804/804 [==============================] - 1s 939us/step - loss: 0.5292 - accuracy: 0.7440
Epoch 7/100
804/804 [==============================] - 1s 968us/step - loss: 0.5292 - accuracy: 0.7416
Epoch 8/100
804/804 [==============================] - 1s 951us/step - loss: 0.5292 - accuracy: 0.7428
Epoch 9/100
804/804 [==============================] - 1s 954us/step - loss: 0.5292 - accuracy: 0.7419
Epoch 10/100
804/804 [==============================] - 1s 946us/step - loss: 0.5288 - accuracy: 0.7422
Epoch 11/100
804/804 [==============================] - 1s 955us/step - loss: 0.5288 - accuracy: 0.7425
Epoch 12/100
804/804 [==============================] - 1s 950us/step - loss: 0.5288 - accuracy: 0.7425
Epoch 13/100
804/804 [==============================] - 1s 979us/step - loss: 0.5286 - accuracy: 0.7431
Epoch 14/100
804/804 [==============================] - 1s 963us/step - loss: 0.5288 - accuracy: 0.7433
Epoch 15/100
804/804 [==============================] - 1s 973us/step - loss: 0.5285 - accuracy: 0.7429
Epoch 16/100
804/804 [==============================] - 1s 996us/step - loss: 0.5285 - accuracy: 0.7435
Epoch 17/100
804/804 [==============================] - 1s 997us/step - loss: 0.5285 - accuracy: 0.7425
Epoch 18/100
804/804 [==============================] - 1s 994us/step - loss: 0.5283 - accuracy: 0.7424
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7426
Epoch 20/100
804/804 [==============================] - 1s 996us/step - loss: 0.5282 - accuracy: 0.7433
Epoch 21/100
804/804 [==============================] - 1s 970us/step - loss: 0.5281 - accuracy: 0.7432
Epoch 22/100
804/804 [==============================] - 1s 978us/step - loss: 0.5282 - accuracy: 0.7427
Epoch 23/100
804/804 [==============================] - 1s 978us/step - loss: 0.5279 - accuracy: 0.7434
Epoch 24/100
804/804 [==============================] - 1s 973us/step - loss: 0.5279 - accuracy: 0.7430
Epoch 25/100
804/804 [==============================] - 1s 974us/step - loss: 0.5282 - accuracy: 0.7431
Epoch 26/100
804/804 [==============================] - 1s 981us/step - loss: 0.5278 - accuracy: 0.7441
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7435
Epoch 28/100
804/804 [==============================] - 1s 986us/step - loss: 0.5279 - accuracy: 0.7426
Epoch 29/100
804/804 [==============================] - 1s 982us/step - loss: 0.5280 - accuracy: 0.7442
Epoch 30/100
804/804 [==============================] - 1s 967us/step - loss: 0.5277 - accuracy: 0.7426
Epoch 31/100
804/804 [==============================] - 1s 957us/step - loss: 0.5276 - accuracy: 0.7436
Epoch 32/100
804/804 [==============================] - 1s 958us/step - loss: 0.5276 - accuracy: 0.7437
Epoch 33/100
804/804 [==============================] - 1s 956us/step - loss: 0.5280 - accuracy: 0.7433
Epoch 34/100
804/804 [==============================] - 1s 972us/step - loss: 0.5276 - accuracy: 0.7435
Epoch 35/100
804/804 [==============================] - 1s 951us/step - loss: 0.5276 - accuracy: 0.7435
Epoch 36/100
804/804 [==============================] - 1s 964us/step - loss: 0.5272 - accuracy: 0.7433
Epoch 37/100
804/804 [==============================] - 1s 952us/step - loss: 0.5275 - accuracy: 0.7436
Epoch 38/100
804/804 [==============================] - 1s 953us/step - loss: 0.5279 - accuracy: 0.7436
Epoch 39/100
804/804 [==============================] - 1s 955us/step - loss: 0.5273 - accuracy: 0.7428
Epoch 40/100
804/804 [==============================] - 1s 957us/step - loss: 0.5272 - accuracy: 0.7441
Epoch 41/100
804/804 [==============================] - 1s 958us/step - loss: 0.5270 - accuracy: 0.7440
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7440
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7426
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7441
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7441
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7438
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7440
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5270 - accuracy: 0.7437
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7430
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7437
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7435
Epoch 52/100
804/804 [==============================] - 1s 956us/step - loss: 0.5268 - accuracy: 0.7437
Epoch 53/100
804/804 [==============================] - 1s 967us/step - loss: 0.5270 - accuracy: 0.7432
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7439
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7434
Epoch 56/100
804/804 [==============================] - 1s 956us/step - loss: 0.5265 - accuracy: 0.7442
Epoch 57/100
804/804 [==============================] - 1s 957us/step - loss: 0.5266 - accuracy: 0.7440
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7441
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7438
Epoch 60/100
804/804 [==============================] - 1s 964us/step - loss: 0.5264 - accuracy: 0.7435
Epoch 61/100
804/804 [==============================] - 1s 966us/step - loss: 0.5266 - accuracy: 0.7440
Epoch 62/100
804/804 [==============================] - 1s 963us/step - loss: 0.5262 - accuracy: 0.7438
Epoch 63/100
804/804 [==============================] - 1s 969us/step - loss: 0.5265 - accuracy: 0.7440
Epoch 64/100
804/804 [==============================] - 1s 981us/step - loss: 0.5265 - accuracy: 0.7437
Epoch 65/100
804/804 [==============================] - 1s 964us/step - loss: 0.5264 - accuracy: 0.7448
Epoch 66/100
804/804 [==============================] - 1s 959us/step - loss: 0.5266 - accuracy: 0.7431
Epoch 67/100
804/804 [==============================] - 1s 967us/step - loss: 0.5264 - accuracy: 0.7438
Epoch 68/100
804/804 [==============================] - 1s 963us/step - loss: 0.5262 - accuracy: 0.7439
Epoch 69/100
804/804 [==============================] - 1s 966us/step - loss: 0.5264 - accuracy: 0.7441
Epoch 70/100
804/804 [==============================] - 1s 962us/step - loss: 0.5263 - accuracy: 0.7439
Epoch 71/100
804/804 [==============================] - 1s 958us/step - loss: 0.5260 - accuracy: 0.7441
Epoch 72/100
804/804 [==============================] - 1s 968us/step - loss: 0.5262 - accuracy: 0.7439
Epoch 73/100
804/804 [==============================] - 1s 968us/step - loss: 0.5263 - accuracy: 0.7438
Epoch 74/100
804/804 [==============================] - 1s 961us/step - loss: 0.5261 - accuracy: 0.7439
Epoch 75/100
804/804 [==============================] - 1s 961us/step - loss: 0.5261 - accuracy: 0.7439
Epoch 76/100
804/804 [==============================] - 1s 969us/step - loss: 0.5263 - accuracy: 0.7445
Epoch 77/100
804/804 [==============================] - 1s 972us/step - loss: 0.5258 - accuracy: 0.7446
Epoch 78/100
804/804 [==============================] - 1s 988us/step - loss: 0.5263 - accuracy: 0.7448
Epoch 79/100
804/804 [==============================] - 1s 966us/step - loss: 0.5259 - accuracy: 0.7434
Epoch 80/100
804/804 [==============================] - 1s 969us/step - loss: 0.5260 - accuracy: 0.7446
Epoch 81/100
804/804 [==============================] - 1s 966us/step - loss: 0.5262 - accuracy: 0.7437
Epoch 82/100
804/804 [==============================] - 1s 967us/step - loss: 0.5258 - accuracy: 0.7443
Epoch 83/100
804/804 [==============================] - 1s 980us/step - loss: 0.5259 - accuracy: 0.7446
Epoch 84/100
804/804 [==============================] - 1s 981us/step - loss: 0.5259 - accuracy: 0.7436
Epoch 85/100
804/804 [==============================] - 1s 966us/step - loss: 0.5261 - accuracy: 0.7442
Epoch 86/100
804/804 [==============================] - 1s 966us/step - loss: 0.5264 - accuracy: 0.7443
Epoch 87/100
804/804 [==============================] - 1s 996us/step - loss: 0.5259 - accuracy: 0.7441
Epoch 88/100
804/804 [==============================] - 1s 979us/step - loss: 0.5261 - accuracy: 0.7443
Epoch 89/100
804/804 [==============================] - 1s 971us/step - loss: 0.5260 - accuracy: 0.7441
Epoch 90/100
804/804 [==============================] - 1s 971us/step - loss: 0.5260 - accuracy: 0.7439
Epoch 91/100
804/804 [==============================] - 1s 973us/step - loss: 0.5257 - accuracy: 0.7439
Epoch 92/100
804/804 [==============================] - 1s 972us/step - loss: 0.5257 - accuracy: 0.7436
Epoch 93/100
804/804 [==============================] - 1s 968us/step - loss: 0.5255 - accuracy: 0.7442
Epoch 94/100
804/804 [==============================] - 1s 950us/step - loss: 0.5262 - accuracy: 0.7437
Epoch 95/100
804/804 [==============================] - 1s 965us/step - loss: 0.5259 - accuracy: 0.7448
Epoch 96/100
804/804 [==============================] - 1s 957us/step - loss: 0.5258 - accuracy: 0.7441
Epoch 97/100
804/804 [==============================] - 1s 956us/step - loss: 0.5257 - accuracy: 0.7444
Epoch 98/100
804/804 [==============================] - 1s 954us/step - loss: 0.5257 - accuracy: 0.7445
Epoch 99/100
804/804 [==============================] - 1s 955us/step - loss: 0.5256 - accuracy: 0.7437
Epoch 100/100
804/804 [==============================] - 1s 960us/step - loss: 0.5255 - accuracy: 0.7449

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5638 - accuracy: 0.7245 - 214ms/epoch - 798us/step
Loss: 0.5637790560722351, Accuracy: 0.7245481014251709

In [27]:
# Export our model to HDF5 file
results_df = pd.DataFrame({'Loss':[model_loss], 'Accuracy':[model_accuracy]})
results_df.head()
results_df.to_hdf(r'AlphabetSoupCharityOptimization3.h5',\
                  key = 'results_df',\
                  mode='w')